@import url("reset.css");
@import "colors.scss";

body {
  background: $color-gray-1;
  color: $color-black;
  font-family: Rubik, serif;
}

.border {
  margin: 0 auto;
  width: 100%;
  max-width: 1292px;
  padding: 0 16px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 85px;
  padding: 90px 16px;
  height: 100vh;
}

@media (max-width: 767.98px) {
  .page{
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

img {
  object-fit: cover;
  pointer-events: none;
}

