$color-black: #000000;
$color-white: #ffffff;
$color-green-2: #E2FFBE;
$color-green-3: #9BDD48;
$color-green-4: #69A51F;
$color-green-5: #487115;
$color-gray-1: #F5F5F5;
$color-gray-2: #8D8D8D;
$color-gray-3: #686868;
$color-gray-4: #2B2B2B;
$color-red-1: #F79E8A;
$color-red-2: #F36E4F;
